<html>
<title>About Us Page</title>
<body>
<h1> About Us </h1>
<hr>
<p>This application was created as a part of our university project. We are a group of 5- Aridian, Habibi, Jack, Mustafa and Rose. Hope you like our work! Here are what each of of us have to introduce about ourselves!</p> <hr>
<p>
<h3>Mustafa Alwindawi [Team Leader]</h3>
<h4>4thyear Computer Science Student</h4>
Mustafa moved to Canada in 2018 and transferred to the University of Windsor during the Fall of the same year.Now he is in his final year andis currently working on car hacking research at (Windsor Advanced Security and Privacy Research) WASP lab as a research assistant under the supervision of Dr.Sherif Saad Ahmed. Mustafa played basketball in high school and participated in various programming competitions. Mustafa plansto continue in hisfield after graduation by obtaining amaster’sin Computer Science.<br>
<a href = "https://www.linkedin.com/in/mustafa-al-windawi-7a51ab106/">Mustafa on LinkedIn</a> &nbsp;  <a href = "https://github.com/mustafaAlwindawi">Mustafa on GitHub</a> 
</p><br>
<p>
<h3>Jack Pistangnesi</h3>
<h4>3rd year Computer Science Student</h4>
Jack is Canadian; however, he grew up living abroad in both China (5 years) and Germany (3 years) as an expatriate with his family due to his father being transferred to both places for work. During his time in China and Germany he met and worked with manydifferent people from different cultures. Since returning to CanadaJack played high school football, competed in powerlifting, anddeveloped interests in computers and kinetics. Jack plans to continue after graduation to obtain a master’s in Computer Science.<br>
<a href = "https://github.com/pistagnesij">Jack on GitHub</a> 
</p><br>
<p>
<h3>Rose Edassery</h3>
<h4>3rdyear Computer Science Student</h4>
Rose Completed her high school back in India from St. Xavier’s College, Mumbai. Studying here in Canada taught her how to live independently and manage studies and work at the same time.Rose played badminton in high school and loves doing calligraphy along with learning more about computers.Her dream isto obtain a PhD from the University of Waterloo.<br>
<a href = "https://www.linkedin.com/in/rose-edassery-762706185">Rose on Linkedln</a> &nbsp;  <a href = "https://www.github.com/RoseQuartz08">Rose on GitHub</a> 
</p>
<p>
<h3>Ardian Eljezi</h3>
<h4>4thyear Computer Science Student</h4>
Ardian started his post secondary education at the State University of Tetovo inMacedonia in 2012, on the Computer Science Honours program. He finished 3 of 4 years there and transferred to the University of Windsor in 2016, on the Computer Science General program. Ardian Graduated in 2018 and returned this year to finish one more year left on the Honours program, so he can pursue his dream of getting a master’s degree and move on from there. Studying in two different universities has been a great experience and helped him a lot on his academic growth.<br>
<a href = "https:///www.linkedin.com/in/ardian-eljezi-426377165">Ardian on Linkedln</a> &nbsp;  <a href = "https://www.github.com/ardian1e">Ardian on GitHub</a> 
</p><br>
<p>
<h3>Habib Ahmed</h3>
<h4>4thyear Computer Science Student</h4>
Habib graduated from St. Clair college with a diploma in Computer Systems Technician in 2017. He then joined the University of Windsor in 2018 for Honours in Computer Science Program with a minor in Economics. His areas of interest are cloud computing, data engineering and data warehousing. He also achieved a number of certificates some of which are Microsoft Certified Azure Fundamentals (AZ-900), Microsoft Certified Azure Administrator (AZ-103) and Microsoft Certified Azure Developer (AZ-203). He is currently participating in cloud skills challenges such as Azure Data, Azure DevOps, Extend Microsoft Teams –Associate, and Power Apps Developer.<br>
<a href = "https://www.linkedin.com/in/habib-ahmed-9a06b972/">Habib on Linkedln</a> &nbsp;  <a href = "https://www.github.com/Ahmed17x">Habib on GitHub</a> 
</p><br>
</body>
</html>
