<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
		h1{
			color: DarkSlateBlue;
			font-family: Didot, serif;
	
		}

		body {
			margin: 1;
			color: Navy;
			font-family: Didot, serif;
			background-color: AntiqueWhite;
			
		}
	</style>
    {% block head %}{% endblock %}
</head>
<body>
    <p> 
        <div id="links">
        <a href="/">Main Page</a>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="aboutus.html">About us</a>
         </div>
    </p>
    
    
    {% block body %}{% endblock %}
</body>
</html>